a {
	text-decoration: none;
	color: #6ab47b;
}

#wrapper {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
}

#logo {
	text-align: center;
	margin: 0;
}

header {
	margin-top: 10px;
	background: #000000;
	border-color: #599a68;
	padding:10px auto;
}

h1, h2 {
	color: #ffffff

}

nav {
	background: #26E404;
}

nav a, nav a:visited {
	color: #ffffff;
}

nav a.selected, nav a:hover {
	color: #32673f;
}

body {
	background: #000000;
	color: #999;
}