a {
	text-decoration: none;
	color: #6ab47b;
}

#wrapper {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
}

#logo {
	text-align: left;
	margin: 0 auto;
	max-width: 940px;
}

header {
	max-width: 940px;
	margin: 10 auto;
	background: #000000;
	border-color: #599a68;
	padding:10px auto;
}

h1, h2 {
	color: #ffffff

}

nav {
	background: #26E404;
	text-align: center;
	padding: 10px, 0;
	margin: 20px 0 0;
}

nav a, nav a:visited {
	color: #ffffff;
}

nav a.selected, nav a:hover {
	color: #32673f;
}

body {
	background: #000000;
	color: #999;
}

footer {
	font-size: 0.75em;
	text-align: center;
	padding-top: 50px;
	color: #ccc;
	background-color: green;
}

img {
	max-width: 100%;
}

#wrapper {
	margin: 0;
	padding: 0;
	list-style: none;
}

#wrapper li {
	float: left;
	width: 45%;
	margin: 2.5%;
	background-color: black;
	color: white;
}